## first base line

In [4]:
import pandas as pd
import numpy as np

In [107]:
# 데이터 확인
train_features = pd.read_csv("train_features.csv")
train_target = pd.read_csv("train_target.csv")
test_features = pd.read_csv("test_features.csv")

In [108]:
train_features.head()

   id      Time   S1   S2   S3   S4
0   0  0.000000  0.0  0.0  0.0  0.0
1   0  0.000004  0.0  0.0  0.0  0.0
2   0  0.000008  0.0  0.0  0.0  0.0
3   0  0.000012  0.0  0.0  0.0  0.0
4   0  0.000016  0.0  0.0  0.0  0.0

In [109]:
train_target.head()

   id      X      Y      M    V
0   0    0.0 -400.0   50.0  0.4
1   1  400.0    0.0  100.0  1.0
2   2 -300.0 -200.0   25.0  0.4
3   3  200.0 -100.0  150.0  0.4
4   4 -300.0 -100.0  150.0  0.4

In [110]:
test_features.head()

     id      Time   S1   S2   S3   S4
0  2800  0.000000  0.0  0.0  0.0  0.0
1  2800  0.000004  0.0  0.0  0.0  0.0
2  2800  0.000008  0.0  0.0  0.0  0.0
3  2800  0.000012  0.0  0.0  0.0  0.0
4  2800  0.000016  0.0  0.0  0.0  0.0

데이터 전처리

In [111]:
def preprocessing(data):
  '''
  feature데이터를 입력하여, 모델 입력용 데이터로 변경
  '''
  # 충돌체 별로 가속도 데이터와 시간 데이터를 id로 묶음
  _data = data.groupby('id')

  # string 형태로 반환
  _data['Time']  = _data['Time'].astype('str')

  # 모델에 입력이 가능한 1차원 형태로 변환
  _data = _data.pivot_table(index = 'id', columns = 'Time', values = ['S1', 'S2', 'S3', 'S4'])

  # col명 변경
  _data.columns =['_'.join(col) for col in _data.columns.values]

  return _data

In [112]:
train_features = preprocessing(train_features)
test_features = preprocessing(test_features)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [113]:
train_features.head()

    S1_0.0     S1_0.0001  ...  S4_9.2e-05  S4_9.6e-05
id                        ...
0      0.0     28.861840  ...    0.000003    0.000023
1      0.0      0.000000  ...   18.180060   37.053800
2      0.0 -25719.010000  ...    0.021411    0.078795
3      0.0      0.002897  ...   11.001050   18.245010
4      0.0   3546.980000  ...    1.966619    4.694139

[5 rows x 120 columns]

In [119]:
train_target.head()

   id      X      Y      M    V
0   0    0.0 -400.0   50.0  0.4
1   1  400.0    0.0  100.0  1.0
2   2 -300.0 -200.0   25.0  0.4
3   3  200.0 -100.0  150.0  0.4
4   4 -300.0 -100.0  150.0  0.4

In [114]:
test_features.shape

(700, 120)

변수 선택 및 모델 구축

In [ ]:
# ensenble (rf)

In [115]:
import sklearn
from sklearn.ensemble import RandomForestRegressor

In [120]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.multioutput import MultiOutputRegressor

rf1 = MultiOutputRegressor(RandomForestRegressor(random_state=42, bootstrap=True, max_features='sqrt'), n_jobs=-1)

param_dstn_rf1 = {
    'estimator__n_estimators': list(range(100, 1001, 25)),
    'estimator__max_depth': list(range(5, 51, 3)),
    'estimator__min_samples_split': list(range(5, 51, 3)),
    'estimator__min_samples_leaf': list(range(5, 51, 3)),
    'estimator__max_leaf_nodes': list(range(5, 51, 3))
}

# 아무리 생각해도 param_dstn_rf1 이거 범위를 잘못 준 거 같음

random_rf1 = RandomizedSearchCV(estimator=rf1,
                                param_distributions=param_dstn_rf1,
                                n_iter=1000,
                                n_jobs=-1,
                                cv=5,
                                random_state=42,
                                scoring='neg_mean_squared_error',
                                verbose=2)

In [ ]:
y_pred = random_rf1.fit(train_features, train_target)

Fitting 5 folds for each of 1000 candidates, totalling 5000 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:  9.6min
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed: 34.0min
[Parallel(n_jobs=-1)]: Done 361 tasks      | elapsed: 78.6min
[Parallel(n_jobs=-1)]: Done 644 tasks      | elapsed: 138.3min
[Parallel(n_jobs=-1)]: Done 1009 tasks      | elapsed: 216.6min
[Parallel(n_jobs=-1)]: Done 1454 tasks      | elapsed: 296.4min
[Parallel(n_jobs=-1)]: Done 1981 tasks      | elapsed: 408.6min

In [ ]:
predict1 = random_rf1.best_estimator_.predict(test_features)

In [124]:
rf2 = RandomForestRegressor(random_state=42)

param_dstn_rf2 = {
    'n_estimators': list(range(50, 100, 20)),
    'max_depth': list(range(5, 11)),
    'min_samples_split': list(range(2, 15)),
    'min_samples_leaf': list(range(2, 11))
}

random_rf2 = RandomizedSearchCV(estimator=rf2,
                                param_distributions=param_dstn_rf2,
                                n_iter=100,
                                n_jobs=-1,
                                cv=3,
                                random_state=42,
                                scoring='neg_mean_squared_error',
                                verbose=1)

In [129]:
predict2 = random_rf2.fit(train_features, predict1)

TypeError: ignored

In [22]:
# 제출 형태 
submit = pd.read_csv("sample_submission.csv")
submit.head()

     id  X  Y  M  V
0  2800  0  0  0  0
1  2801  0  0  0  0
2  2802  0  0  0  0
3  2803  0  0  0  0
4  2804  0  0  0  0

In [23]:
# 예측한 값 적기
for i in range(4):
  submit.iloc[:,i+1] = predict2[:,i]

In [24]:
submit.head()

     id        X      Y      M       V
0  2800  1411.71 -261.0  -39.0   86.25
1  2801  1535.97  276.0 -307.0   91.75
2  2802  1465.22 -253.0   71.0   96.25
3  2803  1175.57  151.0  158.0  113.50
4  2804  1369.44 -207.0  219.0  102.00

In [25]:
# 저장 
submit.to_csv('baseline_test2.csv',index = False)

In [ ]:
# cnn은 시도2에서 시도해봄!